@mixin smallHeadingSize{
  h2, h4{
      font-size: 30px;
  }

  p{
      font-size: 16px;
  }
}

@mixin headingDesing{
  color: #000;
  h2, h4{
    font-size: 48px;
    font-weight: bold;
  }

  h4{
    font-weight: 300;
  }

  p{
    font-weight: 500;
    font-size: 18px;
  }

  @media only screen and (max-width: 575px){
    @include smallHeadingSize;  
  }
}